<div class="box">
  <h1>Edit Band Details </h1>
  <%= form_for @current_artist do |f| %>

  <h3><%= f.label 'Band Name' %></h3>
  <%= f.text_field :band_name, class:"input-group-text", id:"inputGroup-sizing-lg"  %><br>
    <br>
  <%= f.submit "Let's Roll!", class:"btn btn-info btn-lg" %>
  <% end %>
</div>
