Hello! <%= @current_artist.name  %>

<div class="container-fluid">
  <div class="row">
    <h1 class="band-name col-lg">Mean Machine</h1>
  </div>
  <div class="row">
    <h1 class="band-stats col-lg">Statistics</h1>
  </div>

  <%= link_to "Add New Tour", new_tour_path, :class => "btn btn-info btn-lg"  %>

  <div class="row">
    <div class="future-tours col-lg">
      Future Tours
      <div class="f-tours">
        <a href="/tours/3">Tour 3</a>
        <br>
        <a href="/tours/4">Tour 4</a>
      </div>
    </div>
    <div class="past-tours col-lg">
      Past Tours
      <div class="p-tours">
        <a href="/tours/1">Tour 1</a>
        <br>
        <a href="/tours/2">Tour 2</a>
      </div>
    </div>
  </div>
</div>
