<% if @current_artist.band_name %>
<div class="container-fluid">
  <div class="row">
    <h1 class="band-name col-lg"> <%= @current_artist.band_name %> </h1>
  </div>
<% else  %>
<%= link_to "Add New Band Details!", edit_artist_path(@current_artist.id), :class => "btn btn-info btn-lg"  %>
<% end  %>

  <%= link_to "Add New Tour", new_tour_path, :class => "btn btn-info btn-lg"  %>

  <div class="row">
    <div class="tours col-lg">
      <h1>Future Tours</h1>
      <div class="f-tours">
        <a href="/tours/3">Tour 3</a>
        <br>
        <a href="/tours/4">Tour 4</a>
      </div>
    </div>
    <div class="tours col-lg">
      <h1>Past Tours</h1>
      <div class="p-tours">
        <a href="/tours/1">Tour 1</a>
        <br>
        <a href="/tours/2">Tour 2</a>
      </div>
    </div>
  </div>
</div>
