---
http_interactions:
- request:
    method: get
    uri: https://api.songkick.com/api/3.0/venues/10459.json?apikey=<SONGKICK_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Edge-Pop:
      - Fastly/US-Central/DEN/cache-den19643-DEN
    body:
      encoding: ASCII-8BIT
      string: '{"resultsPage":{"status":"ok","results":{"venue":{"phone":"303-377-1666","lng":-104.948382,"street":"3317
        E. Colfax Ave (at Adams)","website":"http://www.bluebirdtheater.net","city":{"country":{"displayName":"US"},"uri":"http://www.songkick.com/metro_areas/6404-us-denver?utm_source=55502&utm_medium=partner","id":6404,"state":{"displayName":"CO"},"displayName":"Denver"},"zip":"80206","description":"","metroArea":{"country":{"displayName":"US"},"uri":"http://www.songkick.com/metro_areas/6404-us-denver?utm_source=55502&utm_medium=partner","id":6404,"state":{"displayName":"CO"},"displayName":"Denver"},"uri":"http://www.songkick.com/venues/10459-bluebird-theater?utm_source=55502&utm_medium=partner","capacity":400,"id":10459,"displayName":"Bluebird
        Theater","lat":39.7402806}}}}'
  recorded_at: Sun, 17 Feb 2019 23:20:30 GMT
recorded_with: VCR 4.0.0
