<button type="button" class="btn btn-outline-info btn-lg">Login</button>
<!-- <button type="button" class="btn btn-outline-info btn-lg">Register</button> -->

<!-- <button href="{{ route('login_path') }}" class="btn btn-outline-info btn-lg">Register</button> -->
<%= link_to "Register", register_path  %>
