<button type="button" class="btn btn-outline-info btn-lg">Login</button>
<!-- <button type="button" class="btn btn-outline-info btn-lg">Register</button> -->

<!-- <button href="{{ route('register_path') }}" class="btn btn-outline-info btn-lg">Register</button> -->

<a href="register" class="btn btn-outline-info btn-lg" role="button" aria-disabled="true">Register</a>
