<h1> <%= @event.name %> </h1>
<section class="Event info">
Date: <%= @event.show_date  %> <br>
Time: <%= @event.show_time  %>
  <section class="Venue info">
    Where: <%= @venue.name %>
</section>


<section class="stats">

</section>
