<div class="box">
  <h2>Edit Tour Name</h2>
    <%= form_for @tour do |f| %>

    <%= f.text_field :name, class:"input-group-text", id:"inputGroup-sizing-lg" %><br>

    <%= f.submit "Update", class:"btn btn-info btn-lg" %>
  <% end %>
</div>
