/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   height: 100vh;
   background-image: asset_url('purple.jpg');
   background-repeat: no-repeat;
   background-color: black;
   text-align: center;
   background-size: cover;
   background-position: 50% 50%;
 }

 .logo img {
  background-image: asset_url('logo.png');
  width: 50%;
  border-radius: 50px;
  min-width: 500px;
  opacity: 0.9;
}

form#new_tour.new_tour input{
  text-align: center;
  display: inline-block;
}

input#inputGroup-sizing-lg.input-group-text{
  text-align: center;
  display: inline-block;
}

 h1, h2, h3 {
   color: white;
 }

 .box {
   background-color: black;
   opacity: 0.9;
   width: 50%;
   text-align: center;
   align-self: center;
   display: inline-block;
   border-radius: 25px;
   padding-top: 25px;
   padding-bottom: 25px;
   min-width: 500px;
   margin-top: 50px;
 }

 .form-box {
   background-color: teal;
   opacity: 0.9;
   width: 75%;
   text-align: center;
   align-self: center;
   display: inline-block;
   border-radius: 25px;
   padding-top: 25px;
   padding-bottom: 25px;
   min-width: 500px;
   margin-top: 50px;
 }


 .band-name {
   background-color: black;
   opacity: 0.8;
   margin-left: 50px;
   margin-right: 50px;
   font-size: 75px;
   border-radius: 50px;
 }

 .tours {
   background-color: black;
   font-size: 50px;
   opacity: 0.8;
   margin-left: 50px;
   margin-right: 50px;
   margin-top: 5px;
   border-radius: 50px;
 }

 .jumbotron {
   margin-left: 5px;
   margin-right: 5px;
   margin-top: 5px;
   background-color: pink;
   opacity: 0.9;
 }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  max-height: 75px;
}

.foot {
  max-height: 50px;
}

ul {
  list-style-type: none;
}

.nav-link {
  text-align: left;
  font-size: 20px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: black;
  margin: auto;
  padding: 20px;
  width: 40%;
  border-radius: 25px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: left;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.form-control {
  width: 20%;
}

.split {
  height: 110%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}
